In [9]:
import sys
sys.path.append('..')
from osp import *

In [ ]:
STASH_COUNTS

In [30]:
# from bounter import bounter
import json
PATH_TOTAL_TEXT_COUNTS = os.path.join(PATH_DATA, 'total_text_counts.json')

def get_total_text_counts(path=PATH_TOTAL_TEXT_COUNTS, force=False):
    if not force and os.path.exists(path):
        try:
            return json.load(open(path))
        except:
            pass
    text_counts = Counter()
    for id,counts in tqdm(STASH_COUNTS.items(),total=len(STASH_COUNTS)):
        if counts:
            for word, count in counts.items():
                text_counts[word] += 1
    out = dict(text_counts.most_common())
    with open(path, 'w') as f:
        json.dump(out, f)
    return out

# get_total_text_counts(force=False)

In [92]:
def is_stopword(word):
    # return word in STOP_WORDS
    return len(word)<4

def get_top_words(n=10, remove_stopwords=True,except_first_n=100):
    d = get_total_text_counts()
    d = Counter({k:v for k,v in d.items() if not is_stopword(k)})
    out = [w for w,c in d.most_common(n+except_first_n)]
    if except_first_n and len(out)>except_first_n:
        out = out[except_first_n:]
    return out

pprint(' '.join(get_top_words()))

'important place something world against either need find further under'

In [93]:
def get_word_group_counts(words_list):
    d = get_total_text_counts()
    out = []
    for i,(id,counts) in enumerate(tqdm(STASH_COUNTS.items(),total=len(STASH_COUNTS))):
        if not counts:
            continue
        total = sum(counts.values())
        group_counts = {c:v for c,v in counts.items() if c in words_list}
        total_group = sum(group_counts.values())
        outd = {'id':id}#, 'num_words_group':total_group, 'num_words_text':total}
        for c,v in group_counts.items():
            outd[c] = v/total_group
        out.append(outd)
        # if i>10:
            # break
    return pd.DataFrame(out).set_index('id')

In [ ]:
# top_words = get_top_words(n=100)
top_words_group_counts = get_word_group_counts(top_words)
top_words_group_counts

100%|██████████| 58126/58126 [01:00<00:00, 965.01it/s]

,world,state,life,know,find,theory,found,again,meaning,later,...,kind,others,idea,something,within,among,real,seen,either,relation
id,,,,,,,,,,,,,,,,,,,,,
phil/10.2307/2375809,0.057471,0.028736,0.068966,0.011494,0.034483,0.005747,0.028736,0.022989,0.022989,0.005747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phil/10.2307/45238188,NaN,0.003663,NaN,0.003663,0.007326,0.003663,0.003663,0.003663,0.003663,NaN,...,0.003663,0.014652,0.007326,0.003663,NaN,NaN,NaN,NaN,NaN,NaN
phil/10.2307/20115538,NaN,0.118519,NaN,0.059259,NaN,0.029630,NaN,0.029630,NaN,0.022222,...,0.022222,NaN,0.007407,0.007407,0.022222,0.007407,0.007407,0.007407,NaN,NaN
phil/10.2307/40380502,0.012987,NaN,0.021645,NaN,0.008658,NaN,0.008658,0.051948,0.008658,0.004329,...,0.004329,0.004329,0.008658,0.012987,0.034632,NaN,NaN,0.012987,0.012987,NaN
phil/10.2307/24659549,0.136612,0.005464,0.027322,0.021858,NaN,0.010929,0.005464,NaN,0.065574,NaN,...,0.021858,0.027322,NaN,0.021858,0.005464,0.010929,0.005464,NaN,NaN,0.021858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
lit/2872592,0.075000,0.008333,0.016667,0.025000,0.020833,NaN,NaN,0.016667,0.004167,0.004167,...,0.025000,0.037500,0.008333,0.045833,NaN,NaN,0.012500,0.016667,0.004167,0.054167
phil/10.2307/42964393,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.166667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phil/10.2307/27293693,NaN,0.032000,NaN,0.008000,0.008000,0.096000,NaN,0.016000,0.016000,0.032000,...,NaN,NaN,0.008000,0.096000,0.016000,NaN,0.008000,NaN,NaN,NaN
lit/3718567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050000,NaN,...,NaN,0.050000,NaN,0.050000,NaN,0.050000,NaN,NaN,NaN,NaN
lit/459586,0.040650,NaN,0.021680,0.008130,0.010840,0.046070,0.002710,0.008130,0.018970,0.002710,...,0.002710,0.005420,0.037940,0.016260,0.010840,0.008130,NaN,0.005420,0.016260,0.010840

('important place something world against either need find further under think '
 'kind clear indeed thought seem know matter good always hand things therefore '
 'account upon nothing again others theory words never come said give every '
 'within once problem mind often having simply show used himself taken among '
 'found life following merely long whose themselves three above whole already '
 'according quite right although necessary seen state subject common idea '
 'consider great turn knowledge clearly argument later human become relation '
 'called little ways neither best last natural thing result position truth '
 'real call similar claim number latter making follows meaning difference '
 'enough')

In [101]:
data = pd.DataFrame(top_words_group_counts)

In [102]:
data

,world,state,life,know,find,theory,found,again,meaning,later,...,kind,others,idea,something,within,among,real,seen,either,relation
id,,,,,,,,,,,,,,,,,,,,,
phil/10.2307/2375809,0.057471,0.028736,0.068966,0.011494,0.034483,0.005747,0.028736,0.022989,0.022989,0.005747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phil/10.2307/45238188,NaN,0.003663,NaN,0.003663,0.007326,0.003663,0.003663,0.003663,0.003663,NaN,...,0.003663,0.014652,0.007326,0.003663,NaN,NaN,NaN,NaN,NaN,NaN
phil/10.2307/20115538,NaN,0.118519,NaN,0.059259,NaN,0.029630,NaN,0.029630,NaN,0.022222,...,0.022222,NaN,0.007407,0.007407,0.022222,0.007407,0.007407,0.007407,NaN,NaN
phil/10.2307/40380502,0.012987,NaN,0.021645,NaN,0.008658,NaN,0.008658,0.051948,0.008658,0.004329,...,0.004329,0.004329,0.008658,0.012987,0.034632,NaN,NaN,0.012987,0.012987,NaN
phil/10.2307/24659549,0.136612,0.005464,0.027322,0.021858,NaN,0.010929,0.005464,NaN,0.065574,NaN,...,0.021858,0.027322,NaN,0.021858,0.005464,0.010929,0.005464,NaN,NaN,0.021858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
lit/2872592,0.075000,0.008333,0.016667,0.025000,0.020833,NaN,NaN,0.016667,0.004167,0.004167,...,0.025000,0.037500,0.008333,0.045833,NaN,NaN,0.012500,0.016667,0.004167,0.054167
phil/10.2307/42964393,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.166667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phil/10.2307/27293693,NaN,0.032000,NaN,0.008000,0.008000,0.096000,NaN,0.016000,0.016000,0.032000,...,NaN,NaN,0.008000,0.096000,0.016000,NaN,0.008000,NaN,NaN,NaN
lit/3718567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050000,NaN,...,NaN,0.050000,NaN,0.050000,NaN,0.050000,NaN,NaN,NaN,NaN
lit/459586,0.040650,NaN,0.021680,0.008130,0.010840,0.046070,0.002710,0.008130,0.018970,0.002710,...,0.002710,0.005420,0.037940,0.016260,0.010840,0.008130,NaN,0.005420,0.016260,0.010840

In [103]:
def classify_data(data):

    from sklearn.linear_model import LogisticRegression
    from sklearn.metrics import classification_report, accuracy_score

    # Ensure data is clean (fill NaNs)
    _data = data.copy()
    _data['_target'] = target = data.index.str.split('/').str[0]

    min_target_size = min(target.value_counts())
    _data = _data.groupby('_target').sample(n=min_target_size)
    X_data = _data.drop(columns=['_target']).fillna(0).values
    y_data = _data['_target'].values

    # Use the train/test split (80/20 is appropriate for 57k samples)
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=42)

    # Initialize Logistic Regression
    model = LogisticRegression(class_weight='balanced', max_iter=1000)

    print(f"Training on {len(X_train)} samples, testing on {len(X_test)} samples...")
    model.fit(X_train, y_train)

    # Predictions
    y_pred = model.predict(X_test)

    print("\nClassifier Results (on Test Set):")
    print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
    print(classification_report(y_test, y_pred))

In [104]:
classify_data(data)

Training on 40105 samples, testing on 10027 samples...

Classifier Results (on Test Set):
Accuracy: 0.8589
              precision    recall  f1-score   support

         lit       0.86      0.85      0.86      5009
        phil       0.85      0.87      0.86      5018

    accuracy                           0.86     10027
   macro avg       0.86      0.86      0.86     10027
weighted avg       0.86      0.86      0.86     10027

In [105]:
# Inspecting the most predictive words (using full dataset for more stable coefficients)
model.fit(X_data, y_data)
coefs = pd.Series(model.coef_[0], index=data.columns)

print("Top words for Philosophy:")
print(coefs.sort_values().head(20))

print("\nTop words for Literature:")
print(coefs.sort_values(ascending=False).head(20))

Top words for Philosophy:
best        -17.705743
although    -15.135938
call        -14.815134
once        -14.785318
long        -14.678223
things      -14.033042
little      -12.613496
simply      -12.510101
later       -11.591671
similar     -11.247813
never       -10.948235
taken       -10.263303
following    -9.168807
according    -9.113504
know         -8.214299
always       -7.970097
world        -7.881181
kind         -7.547185
used         -7.432306
making       -7.177284
dtype: float64

Top words for Literature:
indeed       15.543642
turn         14.421517
problem      14.189279
great        12.500247
within       11.733118
right        11.294149
words        11.187057
think        10.272416
give          9.763769
matter        9.724796
theory        9.406271
among         9.207563
against       8.744784
idea          8.350088
knowledge     7.958629
himself       7.145448
result        6.892632
either        6.860776
mind          6.826581
often         6.546687
dtype: float64

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

cm = confusion_matrix(y_clean, y_pred)
sns.heatmap(cm, annot=True, fmt='d', xticklabels=model.classes_, yticklabels=model.classes_)
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')
plt.show()