In [1]:
import sys
sys.path.append('..')
from osp import *

In [5]:
words = get_non_content_words()
df_wd = pd.read_csv('../data/worddb_counts.csv').set_index('word')
words = get_non_content_words()
min_doc_num = 1000
words = [w for w in words if w in df_wd.index and df_wd.loc[w].num_docs>=min_doc_num]
df_wd.loc[words].sort_values('num_docs', ascending=False)

        num_docs  num_docs_rank
word
a         186703              1
in        186675              2
of        186662              3
and       186649              4
the       186648              5
...          ...            ...
loud        1188           6953
astray      1171           7022
em          1122           7210
lots        1109           7267
thence      1002           7691

[320 rows x 2 columns]

In [6]:
words2 = get_top_words(320)

In [4]:
data =get_words_freqs_slices(words2)
data

  0%|          | 0/57620 [00:00<?, ?it/s]

FileNotFoundError: [Errno 2] No such file or directory: '/Users/ryan/github/ordinary-style-philosophy/data/txt/phil/10.2307/40231690.txt'

In [10]:
data2 = data.copy()
data2.index = [ x.split('__')[0] for x in data2.index]
data2 = data2.rename_axis('id')
data2

,important,place,something,world,against,either,need,find,further,under,...,central,whom,literature,likely,proper,entirely,close,basic,body,results
id,,,,,,,,,,,,,,,,,,,,,
phil/10.2307/40230399,2,0,1,0,0,3,0,1,0,0,...,0,0,0,0,2,2,0,0,0,0
phil/10.2307/40231533,1,0,2,9,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
phil/10.2307/40231417,2,0,1,0,3,1,0,3,1,0,...,0,0,0,0,0,0,1,0,0,0
phil/10.2307/40231417,1,0,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
phil/10.2307/40231425,1,0,0,0,1,0,0,2,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
phil/10.2307/20113431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
phil/10.2307/20113745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
lit/458221,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
phil/10.2307/42964644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
lit/457913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# next(iter_pairwise_samples(data2, colname='period',data_meta=None,balance=True, sample_size=None))

In [12]:
wordset2data = {}
wordset2data['top'] = data2

In [15]:
df = classify_all_data(wordset2data, verbose=True, sample_size=None)

classifying pairwise samples for discipline:   0%|          | 0/1 [00:00<?, ?it/s]

Running 5-fold Cross-Validation on 124622 samples...

Classifier Results (5-fold CV):
Accuracy: 0.9091
              precision    recall  f1-score   support

  Literature       0.91      0.91      0.91     62311
  Philosophy       0.91      0.91      0.91     62311

    accuracy                           0.91    124622
   macro avg       0.91      0.91      0.91    124622
weighted avg       0.91      0.91      0.91    124622

classifying pairwise samples for discipline: 100%|██████████| 1/1 [00:05<00:00,  5.84s/it]

In [ ]:
df_meta = get_corpus_metadata()

def get_meta(id_slices, meta_name):
    return [
        df_meta.loc[id_slice.split('__')[0], meta_name]
        for id_slice in id_slices
    ]

data_smpl = data.copy()
data_smpl['discipline'] = get_meta(data.index, 'discipline')
data_smpl = data_smpl[data_smpl['discipline']=='Philosophy'].drop(columns=['discipline'])
data_smpl['_target'] = get_meta(data_smpl.index, 'century')
data_smpl['_target'].value_counts()

dataX = data_smpl#.groupby('_target').sample(50_000)

In [ ]:
df_preds, df_feats = classify_data(dataX, '_target', verbose=True, cv=10)

Running 10-fold Cross-Validation on 107498 samples...

Classifier Results (10-fold CV):
Accuracy: 0.7815
              precision    recall  f1-score   support

         C20       0.78      0.78      0.78     53749
         C21       0.78      0.78      0.78     53749

    accuracy                           0.78    107498
   macro avg       0.78      0.78      0.78    107498
weighted avg       0.78      0.78      0.78    107498

In [ ]:
pd.options.display.max_rows = 20
df_feats.head

<bound method NDFrame.head of        feature     weight
244      argue  17.405515
271   relevant  12.711946
58   according  12.549821
160      paper  12.418716
168       role  11.934903
..         ...        ...
59       quite -12.283275
44     himself -13.262937
291  statement -14.775253
24        upon -21.518787
106      shall -23.495803

[320 rows x 2 columns]>

In [ ]:
df_feats.tail(20)

       feature     weight
173   whatever  -6.165453
62   necessary  -6.273369
293    reality  -6.425757
130  certainly  -6.471784
7         find  -6.787742
128   analysis  -6.811816
97     meaning  -6.815609
30       never  -6.889417
47       found  -6.953920
256    purpose  -7.269448
196  concerned  -7.455025
78      called  -7.835232
133    attempt  -8.546374
56       whole  -8.912725
32        said -10.653207
59       quite -12.283275
44     himself -13.262937
291  statement -14.775253
24        upon -21.518787
106      shall -23.495803